model:
    arch: cnn12
    pool: avgpool
    type: multilabel
    activation: relu
    scale_coefficient: 1
    fc1_dim: 512
    projection_dim: 512
    proj_out_dim: 512
    num_classes: 527
    pretrained_hparams_path: "/home/user/my_disk/experiments_contrastive_v5/cnn12_1x_full_tr_8x256_Adam_1e-3_warmupcosine_0.5_wd1e-5_fixed_lr_scaling_randomgain_nolineareval/hparams.pickle"
    pretrained_ckpt_path: "/home/user/my_disk/experiments_contrastive_v5/cnn12_1x_full_tr_8x256_Adam_1e-3_warmupcosine_0.5_wd1e-5_fixed_lr_scaling_randomgain_nolineareval/ckpts/epoch=100_tr_loss=0.691962_tr_acc=0.928553.pth"
opt:
    optimizer: Adam
    lr: 1e-3
    momentum: 0.9
    scheduler: warmupcosine
    warmup_epochs: 10
    # weight_decay: 1e-5
    batch_size: 128
    agc_clipping: False
audio_config:
    feature: raw
    normalize: False
    sample_rate: 8000
    min_duration: 10
    random_clip_size: 5
    val_clip_size: 10
    mixup: True
data:
    meta_root: "/home/user/my_disk/Datasets/AudioSet_8000/meta_8000"
    is_lmdb: False
    in_memory: False
    train_manifest: "balanced_tr.csv"
    val_manifest: "eval.csv"
    test_manifest: None
    label_map: lbl_map.json
    cw: cw_2.pth
