model:
    arch: cnn12
    pool: avgpool
    type: multilabel
    activation: relu
    scale_coefficient: 1
    fc1_dim: 512
    projection_dim: 512
    proj_out_dim: 512
    num_classes: 527
opt:
    optimizer: Adam
    lr: 1e-3
    momentum: 0.9
    scheduler: warmupcosine
    warmup_epochs: 10
    # weight_decay: 1e-5
    batch_size: 128
    agc_clipping: False
audio_config:
    feature: raw
    normalize: False
    sample_rate: 8000
    min_duration: 10
    random_clip_size: 5
    val_clip_size: 10
    mixup: True
data:
    meta_root: "/home/user/my_disk/Datasets/AudioSet_8000/meta_8000"
    is_lmdb: False
    in_memory: False
    train_manifest: "balanced_tr.csv"
    val_manifest: "eval.csv"
    test_manifest: None
    label_map: lbl_map.json
    cw: cw_2.pth
